@import "nullstyle";

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font-name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "fonts";

$red: #F53838;
$black: #0B132A;
$lblack: #4F5665;

html {
    font-size: 16px;
    overflow-x: hidden;
    body {
        overflow-x: hidden;
        font-family: Rubik-Regular;
        &._noscroll {
            height: 100vh;
            overflow: hidden;
        }
        .container {
            position: relative;
            margin: 0 auto;
            height: 100%;
            width: 1140px;
            @media screen and (max-width: 1155px) {
                margin: 0 15px;
                width: calc(100% - 30px);
            }
        }
        .background-gradient {
            background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
        }
        .capture {
            font-family: Rubik-Medium;
            font-size: 2.1875rem;
            line-height: 3.125rem;
            color: $black;
        }
        .capture-text {
            margin-top: 1.25rem;
            line-height: 1.875rem;
            font-size: 1rem;
            color: $lblack;
        }
    }
}

@import "header";
@import "section1";
@import "section2";
@import "section3";
@import "section4";
@import "section5";
@import "footer";
