html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@font-face {
  font-family: "Rubik-Medium";
  font-display: swap;
  src: url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik-Bold";
  font-display: swap;
  src: url("../fonts/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik-Regular";
  font-display: swap;
  src: url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

html body {
  overflow-x: hidden;
  font-family: Rubik-Regular;
}

html body._noscroll {
  height: 100vh;
  overflow: hidden;
}

html body .container {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 1140px;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 136px;
}

.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__inner .header__nav {
  width: 451px;
}

.header .header__inner .header__nav._active {
  -webkit-transform: translateX(15px);
      -ms-transform: translateX(15px);
          transform: translateX(15px);
}

.header .header__inner .header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__inner .header__nav ul li .header__nav-item {
  color: #4F5665;
  font-size: 1rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header .header__inner .header__nav ul li .header__nav-item:hover {
  color: #F53838;
}

.header .header__inner .header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__inner .header__btns._active {
  -webkit-transform: translate(calc(-50% + 15px), 0);
      -ms-transform: translate(calc(-50% + 15px), 0);
          transform: translate(calc(-50% + 15px), 0);
}

.header .header__inner .header__btns .header__signin {
  margin-right: 30px;
  color: #0B132A;
  font-family: Rubik-Medium;
  font-size: 1rem;
  text-align: center;
  line-height: 1.7rem;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header .header__inner .header__btns .header__signin:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  color: #F53838;
}

.header .header__inner .header__btns .header__signup {
  padding: 13px 30px;
  color: #F53838;
  font-family: Rubik-Medium;
  font-size: 1rem;
  text-align: center;
  line-height: 1.7rem;
  border: 1px solid #F53838;
  border-radius: 50px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header .header__inner .header__btns .header__signup:hover {
  color: white;
  background-color: #F53838;
}

.header .header__inner .header__burger {
  display: none;
  width: 40px;
  height: 3px;
  background-color: black;
  z-index: 3;
}

.header .header__inner .header__burger::before,
.header .header__inner .header__burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: black;
}

.header .header__inner .header__burger::before {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header .header__inner .header__burger::after {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header .header__inner .header__burger._active {
  height: 0;
}

.header .header__inner .header__burger._active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .header__inner .header__burger._active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.intro {
  margin-top: 80px;
}

.intro .intro__top-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro .intro__top-part .intro__text-block {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.intro .intro__top-part .intro__text-block .intro__capture {
  margin-top: 28px;
  font-family: Rubik-Medium;
  line-height: 4.375rem;
  font-size: 3.125rem;
}

.intro .intro__top-part .intro__text-block .intro__text {
  margin-top: 1.25rem;
  font-size: 1rem;
  line-height: 1.875rem;
}

.intro .intro__top-part .intro__text-block .intro__btn {
  position: relative;
  display: block;
  margin-top: 3.125rem;
  padding: 1.094rem 0;
  width: 15.625rem;
  font-family: Rubik-Bold;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: #F53838;
  border-radius: 0.625rem;
}

.intro .intro__top-part .intro__text-block .intro__btn:hover::after {
  -webkit-transform: translateY(-0.625rem);
      -ms-transform: translateY(-0.625rem);
          transform: translateY(-0.625rem);
  -webkit-filter: blur(27px);
          filter: blur(27px);
}

.intro .intro__top-part .intro__text-block .intro__btn::after {
  content: "";
  position: absolute;
  left: 1.2185rem;
  top: 1.581rem;
  width: 13.188rem;
  height: 3.75rem;
  z-index: -1;
  background: rgba(245, 56, 56, 0.35);
  -webkit-filter: blur(54px);
          filter: blur(54px);
  border-radius: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.intro .intro__top-part .intro__text-block span {
  font-weight: bold;
}

.intro .intro__top-part .intro__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.intro .intro__top-part .intro__image img {
  position: relative;
  left: 67px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro .intro__bottom-part {
  margin-top: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 42px 114px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 42px 114px 0 rgba(0, 0, 0, 0.06);
}

.intro .intro__bottom-part .intro__features-item {
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro .intro__bottom-part .intro__features-item .intro__features-text {
  margin-left: 36.5px;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.intro .intro__bottom-part .intro__features-item .intro__features-text .intro__features-text-amount {
  margin-bottom: 5px;
  font-family: Rubik-Bold;
  font-size: 1.5625rem;
  line-height: 1.875rem;
}

.intro .intro__bottom-part .intro__features-item .intro__features-text .intro__features-text-name {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.intro .intro__bottom-part .center-item {
  -ms-flex-preferred-size: 36%;
      flex-basis: 36%;
  border-left: 2px solid #EEEFF2;
  border-right: 2px solid #EEEFF2;
}

.features {
  margin-top: 150px;
  margin-bottom: 73px;
}

.features .features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features .features__wrapper .features__image {
  margin-left: 34px;
  -ms-flex-preferred-size: 54.3%;
      flex-basis: 54.3%;
}

.features .features__wrapper .features__image img {
  position: relative;
  margin: 0 auto;
  bottom: 54px;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.features .features__wrapper .features__textblock {
  margin-left: 170px;
  -ms-flex-preferred-size: 45.7%;
      flex-basis: 45.7%;
}

.features .features__wrapper .features__textblock .features__capture {
  width: 90%;
  font-family: Rubik-Medium;
  font-size: 2.1875rem;
  line-height: 3.125rem;
}

.features .features__wrapper .features__textblock .features__text {
  margin-top: 1.25rem;
  line-height: 1.875rem;
}

.features .features__wrapper .features__textblock .features__features {
  position: relative;
  margin-top: 1.25rem;
}

.features .features__wrapper .features__textblock .features__features > li {
  margin-bottom: 15px;
  font-size: 0.875rem;
  line-height: 30px;
  vertical-align: middle;
}

.features .features__wrapper .features__textblock .features__features > li:last-child {
  margin-bottom: 0;
}

.features .features__wrapper .features__textblock .features__features > li::before {
  content: "";
  position: relative;
  margin-right: 10px;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background: url("../img/list-marker.svg");
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}

@media screen and (max-width: 1140px) {
  html body .container {
    margin: 0 15px;
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 950px) {
  .header .header__inner .header__nav {
    position: absolute;
    right: 0px;
    top: -50px;
    padding-top: 100px;
    width: 80vw;
    height: 100vh;
    background-color: rgba(255, 192, 189, 0.95);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateX(100vw);
        -ms-transform: translateX(100vw);
            transform: translateX(100vw);
    z-index: 2;
  }

  .header .header__inner .header__nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header .header__inner .header__nav ul li {
    margin: 20px;
    padding: 10px;
    border-bottom: 1px solid #4F5665;
  }

  .header .header__inner .header__nav ul li .header__nav-item {
    font-size: 2rem;
  }

  .header .header__inner .header__btns {
    position: absolute;
    top: 550px;
    left: 60%;
    -webkit-transform: translate(100vw, 0);
        -ms-transform: translate(100vw, 0);
            transform: translate(100vw, 0);
    z-index: 3;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .header .header__inner .header__btns .header__signin {
    font-size: 1.5rem;
  }

  .header .header__inner .header__btns .header__signup {
    font-size: 1.5rem;
  }

  .header .header__inner .header__burger {
    display: block;
  }

  .features .features__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .features .features__wrapper .features__image {
    position: relative;
    margin: 0 auto;
  }

  .features .features__wrapper .features__image img {
    width: 100%;
  }

  .features .features__wrapper .features__textblock {
    margin: 0;
  }

  .features .features__wrapper .features__textblock .features__capture {
    width: 100%;
    text-align: center;
  }

  .features .features__wrapper .features__textblock .features__text {
    margin-left: 5%;
  }

  .features .features__wrapper .features__textblock .features__features {
    margin-left: 5%;
  }
}

@media screen and (max-width: 755px) {
  .intro .intro__top-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .intro .intro__top-part .intro__text-block .intro__capture {
    text-align: center;
    font-size: 2.5rem;
  }

  .intro .intro__top-part .intro__text-block .intro__text {
    text-align: center;
  }

  .intro .intro__top-part .intro__text-block .intro__btn {
    margin: 3.125rem auto 0 auto;
  }

  .intro .intro__top-part .intro__image img {
    left: 0px;
  }

  .intro .intro__bottom-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .intro .intro__bottom-part .intro__features-item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .intro .intro__bottom-part .center-item {
    border-left: none;
    border-right: none;
    border-top: 2px solid #EEEFF2;
    border-bottom: 2px solid #EEEFF2;
  }
}